[submodule "aledb-core"]
	path = aledb-core
	url = ../aledb-core
	branch = master

[submodule "mutint-app"]
	path = mutint-app
	url = ../mutint-app
[submodule "aledb-compare"]
	path = aledb-compare
	url = ../aledb-compare
[submodule "aledb-fixation"]
	path = aledb-fixation
	url = ../aledb-fixation
[submodule "aledb-converge"]
	path = aledb-converge
	url = ../aledb-converge
[submodule "aledb-phylogeny"]
	path = aledb-phylogeny
	url = ../aledb-phylogeny
[submodule "aledb-needle"]
	path = aledb-needle
	url = ../aledb-needle
[submodule "mutint-breseq"]
	path = mutint-breseq
	url = ../mutint-breseq
