[submodule "aledb-core"]
	path = aledb-core
	url = ../aledb-core
	branch = master

[submodule "mutint-app"]
	path = mutint-app
	url = ../mutint-app
[submodule "aledb-compare"]
	path = aledb-compare
	url = ../aledb-compare
[submodule "aledb-fixation"]
	path = aledb-fixation
	url = ../aledb-fixation
[submodule "aledb-converge"]
	path = aledb-converge
	url = ../aledb-converge
